 body {
	 margin-top: 5%;
	 font-family: Arial, sans-serif;
	 background-color: #808080;
	 padding: 5px;
	 display: flex;
	 height: 100vh;
	 justify-content: center;
	 align-items: center;
 }
 
 h1 {
	 text-align: center;
	 margin-bottom: 5%;
	 font-size: 2em;
	 width: 100%;
 }
 
 form {
	 background: white;
	 padding: 10px;
	 border-radius: 5px;
	 width: 100%;
	 max-width: 500px;
 }
 
 .center_fix {
	 text-align: center;
	 width: 100%;
	 max-width: 500px;
 }
 
 #email {
	 padding: 5px;
 }
 
 #phone {
	 padding: 5px;
 }
 
 #dob {
	 padding: 5px;
 }
 
 #submit_button {
	 padding: 10px;
	 margin: 5%;
	 background-color: #000000;
	 color: white;
	 width: 50%;
 }
 
 @media (max-width: 600px) {
	 form {
		 width: 90%
	 }
 }